*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary-bg-color: #f5ded8;
  --primary-icon-color: rgb(83 67 63);
  --primary-icon-color-active: rgb(44, 21, 15);
  --primary-sidebar-text-color: rgb(93 88 87);
  --primary-current-word-color: #b02f00;
}

.App {
  min-height: 100vh;
  display: flex;
}

.App > * {
  align-items: stretch;
}

aside {
  flex-basis: 300px;
}

aside nav {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside nav a {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}

.icon-container {
  width: 60px;
  border-radius: 100000px;
  padding-block: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside nav a.active .icon-container {
  background: var(--primary-bg-color);
}

.icon-container svg {
  color: var(--primary-icon-color);
}

aside nav a.active .icon-container svg {
  color: var(--primary-icon-color-active);
}

aside nav a span {
  color: var(--primary-sidebar-text-color);
}

main {
  flex-grow: 1;
  background-color: var(--primary-bg-color);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home article {
  background-color: var(--primary-current-word-color);
  padding: 16px 24px;
  color: #eee;
  font-size: 2em;
  border-radius: 24px;
}

.home .btn-group {
  margin-top: 16px;
  display: flex;
}

.home .btn-group button {
  background-color: #faf0f2;
  border: none;
  border-radius: 1000000px;
  color: var(--primary-current-word-color);
  box-shadow: 0 1px 2px 0 gray;
  font-size: 1.25em;
  padding: 4px 1em;
  margin-inline: 8px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.home .btn-group button svg {
  margin-right: 8px;
  transform: translateY(2px);
}

.favorites {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favorites h1 {
  color: var(--primary-sidebar-text-color);
  text-align: center;
}

.favorites ul {
  margin-top: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.favorites ul li {
  display: flex;
  gap: 12px;
  font-size: 1.5em;
}

.favorites ul li .icon-container {
  cursor: pointer;
}

.favorites ul li .icon-container svg {
  color: var(--primary-current-word-color);
  transform: translateY(2px);
}

.favorites ul li span {
  color: var(--primary-sidebar-text-color);
}
